@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
font-family: 'Montserrat', sans-serif;
font-size: 22px;
/* background-color: #171b21; */
/* color: #fff; */
}

/* form{
    font-size: 16px;
} */

.btn_overlay{
    position: absolute;
    /* width: 30%; */
    left: 40%;
    top: 55%
}

.btn_overlay2{
    position: absolute;
    /* width: 30%; */
    left: 30%;
    top: 57%
}

#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font-family: 'Montserrat', sans-serif;
    /* width:400px; */
    font-size: 18px;
    /* font: 14px Helvetica,Arial,sans-serif;  */
}

.widthh{
    width:400px;
}

.widthh2{
    width:600px;
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.widthh2_2{
    width:500px;
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.widthh2_3{
    width:340px;
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.widthh3{
    width:400px;
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.sol{
    width: 150px;
    height: 80px;
}

.widthh3 > img{
    object-fit: cover;
    width: 100%;
}

.widthh4{
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.widthh4 > img{
    object-fit: cover;
    width: 100%;
}

.widthh5{
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.widthh5 > img{
    object-fit: cover;
    width: 100%;
}

.text-center{
    text-align: center;
}

.center{
    margin-left: 34rem;
    margin-bottom: 5px;
}

.select{
    cursor: pointer;
}

.bluey:hover{
    /* color: #826eb5; */
    /* color: red; */
    color: #171b21;
}

.blacky{
    color: #000;
}

.black{
    color: #000;
}

.black:hover{
    color: #000;
}

.blueish{
    /* color: #232464; */
    /* color: #826eb5; */
    color: red;
    /* color: #171b21; */
}

.blueish:hover{
    color: #000;
}

.blueish-bg{
    background-color: #171b21;
    color: #fff;
}

.bluey-s-bg{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #fff;
    color: #000;
    border: 1px solid #fff ;
}

.bluey-s-bg:hover{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #000;
    color: #fff;
    border: 1px solid #000 ;
    cursor: pointer;
}

.bluey-m-bg{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #000;
    color: #fff;
    border: 1px solid #fff ;
}

.bluey-bg{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #fff;
    color: #000;
    border: 1px solid #000 ;
}

.bluey-bg2{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #000;
    color: #fff;
    border: 1px solid #000 ;
    cursor: pointer;
}

.bluey-bg2:hover{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #000;
    color: #fff;
    border: 1px solid #000 ;
    cursor: pointer;
}

.floaty{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
}

.floaty:hover{
    color: #333;
}

.my-float{
	margin-top:16px;
}

.back_to_top{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#333;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
}

.back_to_top:hover{
    color: #333;
}

.bluey-bg-whatsapp{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #25D366;
    color: #fff;
    border: 1px solid #25D366 ;
}

.bluey-bg-whatsapp:hover{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #25D366;
    color: #000;
    border: 1px solid #25D366 ;
}

.bluey-bg:hover{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: #000;
    color: #fff;
    border: 1px solid #000 ;
    cursor: pointer;
}

.table-bg{
    /* background-color: #826eb5; */
    /* color:#fff; */
    background-color: red;
    color: #fff;
    border: 1px solid red ;
    cursor: default;
}

.red-bg{
    background-color: red;
    color: #fff;
}

/* .bluey-bg:hover{
    background-color: #232464;
    color:#2b89c6;
} */

.img-resize{
    max-width: 100%;
}

.img-resize2{
    max-width: 15%;
    max-height: 10%;
}

.img-resize3{
    max-width: 100%;
    max-height: 450px;
}

.img-resize3_2{
    width: 100%;
    max-height: 550px;
}

.img-resize4{
    width: 85%;
    height: 550px;
}

.img-resize5{
    width: 25%;
    height: 700px
}

/* .img-resize_services{
    width: 30%;
    height: 100%;
} */

.img-resize_service{
    height: 45vh;
}

.img-resize_service2{
    height: 35vh;
}

.img-resize_gallery{
    width: 30%;
    height: 30%;
}

.round-img{
    max-width: 50%;
    border-radius: 50%;
}

.mic_img{
    width: 110%;
}

.text-resize{
    text-align: left;
    font-size: 20px;
    /* font-weight: bold; */
}
.text-resize2{
    text-align: left;
    font-size: 21px;
    /* font-weight: bold; */
}

.text-resize-grid{
    text-align: left;
    font-size: 20px;
}

.show-home{
    /* height: 100vh;
    width: 100vh; */
    width: 100%;
    height: 65vh;
    /* position:absolute;
    z-index:-1;
    top:10;
    left:0;
    right:0;
    width:100%; 
    height:60vh; */
    object-fit: cover;
    /* clip-path: polygon(0 0, 100% 0, 0 100% 30%, 0 100%); */
    /* clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%); */
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 90%);
}

.show-home_pod{
    /* height: 100vh;
    width: 100vh; */
    width: 100%;
    height: 70vh;
    /* position:absolute;
    z-index:-1;
    top:10;
    left:0;
    right:0;
    width:100%; 
    height:60vh; */
    object-fit: cover;
    /* clip-path: polygon(0 0, 100% 0, 0 100% 30%, 0 100%); */
    /* clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%); */
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 90%);
}

.studio_img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.intro{
    margin-left: 13rem
}

.intro-p{
    line-height: 2;
    font-weight: 700;
}

.intro-head{
    font-weight: 700;
}

.intro-email{
    margin-left: 28rem;
}

.card{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 22%;
    height: 370px;
    cursor: pointer;
}

.card:hover{
    border-color: #826eb5;
    width: 21%;
    height: 360px;
}

.card_bundle{
    background-color: red;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 22%;
    height: 300px;
    cursor: pointer;
    border: 1px thin #333;
}

.card_bundle:hover{
    border: 1px solid #826eb5;
    /* border-color: #826eb5; */
}

.card_recording{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 30%;
    height: 350px;
    cursor: default;
}

.card_recording:hover{
    border-color: #826eb5;
    width: 29%;
    height: 345px;
}

.card_film{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 30%;
    height: 370px;
    cursor: default;
}

.card_film > img{
    object-fit: cover;
    width: 100%;
    /* height: 200px; */
}

.card_eng{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* margin: 10px; */
    /* text-align: center; */
    width: 40%;
    height: 550px;
    cursor: default;
    /* padding-left: 20px; */
}

.card_mixing{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* margin: 10px; */
    /* text-align: center; */
    width: 40%;
    height: 550px;
    cursor: default;
    /* padding-left: 20px; */
}

.services-card{
    background-image: url(../img/recording_with_an_engineer_overview.jpg);
    height: 50vh;
}

.services-card2{
    position: relative;
    width: 30vw;
}

.pr{
    padding-right: 20px;
}

.card2{
    background-color: #f5f5f3;
    margin-top: 90px;
    width: 80%;
}

.card-services{
    /* background-color: #f5f5f3; */
    margin-top: 90px;
    width: 100%;
    /* margin: auto; */
    /* text-align: center; */
}

.podcast_card{
    width: 80%;
    /* background-color: red; */
}

.adr_card{
    width: 50%;
}

.adr_card2{
    width: 40%;
}

.studio_tour_card{
    height: 410px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 90%;
    width: 80%;
}

.studio_tour_card2{
    height: 450px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    /* max-width: 90%; */
    width: 100%;
}

.studio_tour_card3{
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.contact_card{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    /* text-align: center; */
    font-size: 20px;
}

.bold{
    font-weight: bold;
}

.text-custom{
    line-height: 2.1;
}

.recording_text{
    font-size: 17px;
    line-height: 1.7;
    /* padding-top: 20px; */
}

.text-custom-head{
    line-height: 1.9;
}

.text-custom-head2{
    font-size: 20px;
    line-height: 1.5;
}

.clean-list{
    /* color: #826eb5; */
    color: #171b21;
}

.clean-list:hover{
    color: #000;
}

.clean-list_white{
    color: #fff;
}

.clean-list_white:hover{
    /* color: #826eb5; */
    color: #fff;
}

.text-list{
    text-decoration: none;
    color: #333;
}

.text-list:hover{
    text-decoration: none;
    color: #333;
}

.contain{
    max-width: 96%;
}

.contain-grid{
    max-width: 96%;
}

.contain-text{
    max-width: 90%;
}

.contain-text2{
    max-width: 85%;
}

.contain-email{
    max-width: 50%;
}

.zoom-effect,
.zoom-effect2{
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.zoom-effect3{
    cursor: pointer;
    transform: scale(1);
    /* transition: 0.3s ease-in-out; */
    transition: 0.4s ease-out;
}

.zoom-effect3:hover{
    transform: scale(1.1);
    /* opacity: 0.5; */
}

.zoom-effect:hover{
    transform: scale(0.9);
    opacity: 0.5;
}

.zoom-effect2:hover{
    transform: scale(0.9);
}

.display-block{
    display: block;
    padding-top: 20px;
}

.footer-wide{
    width: 200px;
}

.footer-wid{
    width: 180px;
}

#footer{
    font-size: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.grid2 > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    /* max-height: 100%; */
}

.grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
  
.grid3 > img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    /* max-height: 100%; */
}

.border_top_left{
    border-top-left-radius: 3%;
}

.border_bottom_left{
    border-bottom-left-radius: 3%;
}

.border_top_right{
    border-top-right-radius: 3%;
}

.border_bottom_right{
    border-bottom-right-radius: 3%;
}

.intro-top{
    margin-top: 50px;
}

.bodyy {
    position: relative;
    width: 50%;
}
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45vh;
    width: 170%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    cursor: default;
  }
  
  .bodyy:hover .overlay {
    opacity: 0.9;
  }

  .opaque_img{
      opacity: 0.9;
  }
  
  .text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: justify;
  }

  .text2 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 70%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: justify;
  }

  .text-btn{
    position: absolute;
    top: 65%;
    left: 35%;
  }

  .text-btn2{
    position: absolute;
    top: 60%;
    left: 50%;
  }

  .text-btn-studios{
    position: absolute;
    top: 450%;
    left: 8%;
  }

  figure {
    /* border: thin #c0c0c0 solid; */
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 35%;
    /* height: 100px; */
    margin: auto;
}

figcaption {
    background-color: #171b21;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.caption_a{
    text-decoration: none;
}

.recording_img{
    display: none;
}

.no-flex{
    display: flex;
}

.no-grid{
    display: grid;
}

.no-flex2{
    display: flex;
}

.no-d{
    display: none;
}

.vibe-video-small{
    display: none;
}

.btn-small{
    display: none;
}

.show-me-sm{
    display: none;
}

.show-me-grid-sm{
    display: none;
}

.show-me-footer-sm{
    display: none;
}

.show-me-footer-xs{
    display: none;
}

#nav-hide{
    display: none;
}

#nav-sm{
    display: none;
}



/* .no-grid{
    display: grid;
    grid-template-columns: repeat(3,2fr);
} */

/* mobile and desktop toggle show and hide*//*media query*/

@media only screen and (min-width: 992px){
    .show-md{
        display: none;
    }
}

@media only screen and (max-width: 1220px) and (min-width: 1040px) {
    body{
        /* background-color: darkcyan; */
        /* display: none; */
    }
}

@media only screen and (max-width: 1284px){
    body{
        /* background-color: greenyellow; */
    }

    #nav-show{
        display: none;
    }

    #nav-hide{
        display: block;
    }

    #nav-sm{
        display: none;
    }

    .studio_intro .intro{
        margin-left: 9rem;
    }

    .bodyy{
        width: 70%;
    }

  .overlay {
    width: 150%;
  }

  .recording_img{
      display: block;
  }

  .contain_img{
      display: none;
  }

  .contain-text{
    max-width: 100%;
}

.n_width{
    width: 1000px;
}

.footer-wide{
    width: 235px;
}

#footer{
    font-size: 17px;
}

.img-resize4{
    width: 100%;
    height: 500px;
}

.card_film{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    /* padding: 0; */
    margin: 10px;
    text-align: center;
    width: 100%;
    height: 70%;
    cursor: default;
}

.vibe-video{
    width: 870px;
    height: 550px;
}

.adr_card2{
    width: 90%;
    margin-top: 30px;
}


/* .footer-wid{
    width: 180px;
} */

}

@media only screen and (max-width: 1000px){
    body{
        /* background-color: indianred; */
    }

    .show-no{
        display: none;
    }

    .intro-head{
        font-weight: 700;
        padding-top: 15px;
    }

    .card{
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin: 10px;
        text-align: center;
        width: 100%;
        /* height: 270px; */
        height: 70%;
        cursor: pointer;
    }

    .card:hover{
        /* border-color: #826eb5; */
        width: 100%;
        /* height: 270px; */
        height: 40%;
    }

    .card_bundle{
        background-color: red;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin: 10px;
        text-align: center;
        width: 100%;
        /* height: 270px; */
        height: 70%;
        cursor: pointer;
        border: 1px thin #333;
    }

    .card_bundle:hover{
       border: 1px solid #826eb5;
    }

    .no-flex{
        display: block;
    }

    .no-grid{
        display: block;
    }

    #footer{
        font-size: 16px;
    }

    .img-resize4{
        width: 100%;
        height: 500px;
    }

    .studio_intro .intro{
        margin-left: 6rem;
    }

    .contain-text{
        max-width: 85%;
    }

    .contain-text2{
        max-width: 100%;
    }

    .contain{
        max-width: 100%;
    }

    .features-mq{
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .text-custom{
        line-height: 2.0;
    }

    .img-resize5{
        width: 15%;
        height: 600px
    }

    .contain-grid{
        max-width: 80%;
    }

    .text-resize-grid{
        font-size: 18px;
    }

    .no{
        display: none;
    }

    .no-d{
        display: block;
    }

    .adr_card2{
        width: 90%;
        margin-top: 30px;
    }

    .vibe-video{
        width: 260px;
        height: 250px;
    }

    .intro-email{
        margin-left: 20rem;
    }

    .img-resize_service{
        width: 130%;
        height: 55vh;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 55vh;
        width: 130%;
        opacity: 0;
        transition: .5s ease;
        background-color: #fff;
        cursor: default;
    }

      .card-services{
        /* background-color: #f5f5f3; */
        margin-top: 90px;
        width: 150%;
        margin-left: 10px;
        /* margin: auto; */
        /* text-align: center; */
    }

}

@media only screen and (max-width: 980px){
    body{
        /* background-color: darkgoldenrod; */
    }

    #nav-hide{
        display: none;
    }

    #nav-sm{
        display: block;
    }
}

@media only screen and (max-width: 991px){
    body{
        /* background-color: plum; */
    }   

    /* .show-md{
        display: flex;
    } */

    .show-lg{
        /* background-color: red; */
        display: none;
    }

    .footer-wide{
        width: 230px;
        margin: 15px;
    }

    /* .footer-wid{
        width: 120px;
    } */

    #footer{
        font-size: 14px;
    }

    .img-resize4{
        width: 100%;
        height: 400px;
    }

    /* .contain-text2{
        max-width: 85%;
    }

    .contain-text3{
        max-width: 100%;
    } */

    .intro{
        margin-left: 1rem;
    }

    .no-flex2{
        display: block;
    }

    .card_recording{
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin: 10px;
        text-align: center;
        width: 100%;
        /* height: 270px; */
        height: 70%;
        cursor: default;
    }

    .card_recording:hover{
        /* border-color: #826eb5; */
        width: 98%;
        /* height: 270px; */
        height: 60%;
    }

    .vibe-video-big{
        display: none;
    }

    .vibe-video-small{
        display: block;
    }

    .btn-big{
        display: none;
    }

    .btn-small{
        display: block;
    }

    .no-d{
        display: none;
    }

    .no{
        display: block;
    }

    .contact_card{
        background-color: #fff;
        color: #333;
        border-radius: 25px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 10px;
        /* text-align: center; */
        font-size: 20px;
    }

    .intro-email{
        margin-left: 18rem;
    }

    .show-me-not-grid-md{
        display: none;
    }

    .show-me-grid-md{
        display: grid;
    }

    .img-resize_service{
        width: 150%;
        height: 55vh;
    }

    .bodyyy {
        /* position: relative; */
        width: 80%;
    }

    .bodyyy img {
        /* position: relative; */
        opacity: 0.9;
    }


    .text-btn{
        position: absolute;
        top: 160%;
        left: 35%;
    }

    .card-services{
        /* background-color: #f5f5f3; */
        margin-top: 90px;
        width: 150%;
        margin-left: 10px;
        /* margin: auto; */
        /* text-align: center; */
    }

    .text {
        color: #fff;
        font-size: 20px;
        position: absolute;
        top: 35%;
        left: 50%;
        width: 90%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: justify;
    }
}

@media only screen and (max-width: 767.98px){
    body{
        /* background-color: rebeccapurple; */
    }

    .no{
        display: none;
    }

    .show-me-bg{
        display: none;
    }

    .show-me-sm{
        display: block;
    }

    .show-me-grid-sm{
        display: grid;
    }

    .show-me-footer-xs{
        display: none;
    }

    .show-me-footer-sm{
        display: block;
    }

    .show-md{
        display: none;
    }

    .img-resize{
        width: 90%;
    }

    .footer-wide{
        width: 700px;
        margin: 15px;
    }

    #footer{
        font-size: 20px;
    }

    .footer-text{
        font-size: 34px;
    }

    .link-wide{
        margin-left: 210px;
        width: 40%;
    }

    .logo-big{
        width: 25%;
    }

    .img-resize4{
        width: 170%;
        height: 460px;
    }
}


@media only screen and (max-width: 575.98px){
    body{
        /* background-color: yellow; */
    }

    .show-me-footer-sm{
        display: none;
    }

    .show-me-footer-xs{
        display: block;
    }

    .link-wide{
        margin-left: 160px;
        width: 40%;
    }

    .card{
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 7px;
        /* margin-right: 550px; */
        text-align: center;
        width: 95%;
        /* height: 270px; */
        height: 70%;
        cursor: pointer;
    }

    .card:hover{
        /* border-color: #826eb5; */
        width: 95%;
        /* height: 270px; */
        height: 70%;
    }

    .card_bundle{
        background-color: red;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 7px;
        /* margin-right: 550px; */
        text-align: center;
        width: 95%;
        /* height: 270px; */
        height: 70%;
        cursor: pointer;
        border: 1px thin #333;
    }

    .card_bundle:hover{
       border: 1px solid #826eb5;
    }

    .card_recording{
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 5px;
        margin: 10px;
        text-align: center;
        width: 95%;
        /* height: 270px; */
        height: 70%;
        cursor: default;
    }

    .card_recording:hover{
        /* border-color: #826eb5; */
        width: 95%;
        /* height: 270px; */
        height: 70%;
    }

    .card_film{
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        /* padding: 0; */
        margin: 10px;
        text-align: center;
        width: 95%;
        height: 70%;
        cursor: default;
    }

}

@media only screen and (max-width: 1399.98px){
    /* body{
        background-color: saddlebrown;
    }
     */
    .vibe-video{
        width: 960px;
        height: 650px;
    }
}

/* #nav-show{
    display: none;
} */

/*

.signUp{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
/*

.left{
    width: 50%;
    height: 930px;
    background-image: url(../img/actualSignupCard.jpg);
    background-repeat: no-repeat;
    /* border-radius: 8px; */

/*
.right{
    width: 40%;
    /* min-height: 400px; */
  /*  height: 600px;
    background-color: #f4f4f3;
    display: flex;  */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 10px; */
    /* border-radius: 8px; */
 /*   color: #333;
    margin-left: -100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-position{
    position: relative;
    top: 20%;
    left: 35%;
}
    */
/* .right h1{
    font-size: 40px;
    font-weight: lighter;
}

.right p{
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px; 
}*/
/* .signupCard{
    background-color: #f1f1f1;
    color: #333;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;  
    height: 630px;
} */
/* .img-change{ 
    filter: gray; 
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  background-blend-mode: luminosity;
} */
